.chart-container {
  height: 400px;
  width: 100%;
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}


.timeChart {
  width: 100%;
  height: 100%;
  display: block;
}
