<div class="page">
  <div class="top">
    <h1 class="title">My Groups</h1>
  </div>

  @if(roleSignal()) {
    <button class="creator" (click)="create()">
      Create group
    </button>
  }
  @else {
    <form class="form-card" [formGroup]="groupCode" (ngSubmit)="joinGroup()">
      <h2 class="group-title">Join a team</h2>
      <p class="subtitle">Enter the invite code shared with you</p>

      <div class="input-group">
        <input
          type="text"
          autocomplete="off"
          formControlName="code"
          placeholder="Enter invite code"
          class="code-input"
        />
      </div>

      <button class="subButt" type="submit">
        Join Group
      </button>
    </form>




  }


  @if (groups()?.length) {
    <div class="stack">
      @for (g of groups(); track g.groupId) {
        <article class="group-card">
          <a class="card-link" [routerLink]="['/user', 'group', g.groupId]">
            <h2 class="group-name">{{ g.name }}</h2>

            <div class="grid">
              <div class="item">
                <span class="k">Owner:</span>
                <span class="v">{{ g.ownerUsername }}</span>
              </div>

              <div class="item">
                <span class="k">Members:</span>
                <span class="v">{{ g.members }}</span>
              </div>

              <div class="item">
                <span class="k">Roll:</span>
                <span class="v">{{ g.role }}</span>
              </div>

              <div class="item">
                <span class="k">Due assignments:</span>
                <span class="v">{{ g.dueAssignments }}</span>
              </div>
            </div>
          </a>
        </article>
      }
    </div>
  } @else {
    <div class="empty">
      Fetching your groups...
    </div>
  }
</div>
