.page {
  border-radius: 5px;
  background-color: ghostwhite;
  padding: 10px;
}


.card {
  padding: 3px;
  border-color: black;
  border-width: 5px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 5px;
}

.foll {
  text-decoration: none;
  color: inherit;
}
